:root {
    --pink: #ffb6b6;
    --black: #111827;
    --green: #22c55e;
    --white: #fff;
    --error-color: #f85c51;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--black) !important;
    color: var(--white);
}

.truncate-cell {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.place-available {
    padding: 5px;
    border-radius: 10px;
    background-color: green;
    margin: 0;
}

.place-used {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--pink);
    margin: 0;
}

.btn {
    padding: 8px 12px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    background: var(--green);
    color: white;
    font-weight: 600;
    width: max-content;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn:hover,
.btn:active {
    background: var(--white);
    color: var(--green);
}

.btn.ghost {
    background: #eef2ff;
    color: var(--green);
}

.prev-btn {
    background-color: #333;
}

.delete-btn {
    background-color: red;
}

.table-wrapper {
   margin-top: 4rem;
   padding: 10px;
   border-radius: 8px; 
   background-color: #212529;
}